<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daqsoft.mapper.client.common.CommonDao">

    <!-- 实时人数VCODE -->
    <select id="getPassengerVcode" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where realPeople=1 AND status = 1;
    </select>

    <!-- 票务数据VCODE -->
    <select id="getPassengerTicket" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where ticket=1 AND status = 1;
    </select>

    <!-- 车流VCODE -->
    <select id="getPassengerCarflow" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where carflow=1 AND status = 1;
    </select>

    <!-- 停车场VCODE -->
    <select id="getPassengerParking" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where parking=1 AND status = 1;
    </select>

    <!--WIFI-VCODE -->
    <select id="getPassengerWifi" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where wifi=1 AND status = 1;
    </select>

    <!-- 景点VCODE -->
    <select id="getPassengerScenic" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where scenic=1 AND status = 1;
    </select>

    <!-- 大数据VCODE -->
    <select id="getPassengerBigdatac" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where bigdata=1 AND status = 1;
    </select>


    <!--OTA-VCODE -->
    <select id="getPassengerOta" parameterType="map" resultType="map">
        SELECT  vcode,name from  sys_pushdata_manage  where ota=1 AND status = 1;
    </select>

</mapper>