<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.client.jqmonitor.JqMonitorDao">

	<!-- 监控-->
	<select id="getJqMonitor" parameterType="String"
			resultType="com.daqsoft.vo.client.mysqlBean.JqMonitorVo">
		<![CDATA[
		SELECT s.id,s.url,s.name
		FROM jq_monitor s
		WHERE s.vcode=#{vcode} and  s.isshow = '1' and s.status = '1' and s.url != '' ;
		 ]]>
	</select>

	<!-- 监控by ID-->
	<select id="getJqMonitorById" parameterType="Map"
			resultType="com.daqsoft.vo.client.mysqlBean.JqMonitorVo">
		<![CDATA[
		SELECT s.id,s.url,s.name
		FROM jq_monitor s
		WHERE s.vcode=#{vcode} and  s.isshow = '1' and s.status = '1' and s.url != '' and s.id=#{id};
		 ]]>
	</select>

	<select id="getMonitorList" parameterType="String" resultType="Map">
		<!-- 这里测试没有监控这些数据，这里只是模拟，把状态直接写成 正常 -->
 		SELECT NAME as name, OUTIPADDRESS as ip, '正常' as nowStatus from jq_monitor where vcode = #{vcode} and status = 1

	</select>

</mapper>
