<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daqsoft.mapper.app.login.AppRoleMapper">
    <resultMap id="BaseResultMap" type="com.daqsoft.entity.app.login.AppRole">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="USER" jdbcType="VARCHAR" property="user"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, NAME, CODE, USER
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_role
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.daqsoft.entity.app.login.AppRole">
    insert into app_role (ID, NAME, CODE, USER)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.daqsoft.entity.app.login.AppRole">
        update app_role
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                USER = #{user,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_role
        <where>
            <if test="keyword != null and '' != keyword">
                AND NAME LIKE '%${keyword}%' OR CODE LIKE '%${keyword}%'
            </if>
        </where>
    </select>

    <select id="getRolePermission" parameterType="java.lang.Long" resultType="java.lang.Long">
    select permission_id from app_role_permission where ROLE_ID = #{id,jdbcType=BIGINT}
  </select>

    <delete id="deleteRolePermissionByRoleId" parameterType="java.lang.Long">
    delete from app_role_permission where ROLE_ID = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="addRolePermission" parameterType="java.util.Map">
    insert into app_role_permission
    values (#{roleId,jdbcType=BIGINT},#{permissionId,jdbcType=BIGINT} )
  </insert>
</mapper>