<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.client.timelyparking.TimelyparkingDao">


    <select id="getJqTimelyParking" parameterType="String"
            resultType="com.daqsoft.vo.client.madeVoBean.TimelyParkingSurplusVo">
        <![CDATA[
		SELECT s.USED as total,a.id as id,(a.PARKING_LOT-s.USED) as surplusPaking ,a.PARKING_LOT as parkingTotal
		FROM  jq_timely_parking s,res_parking a
		WHERE s.id = (select id from jq_timely_parking where vcode=#{vcode} and DATE_FORMAT(time,'%Y-%m-%d') = CURRENT_DATE ORDER BY time desc limit 0,1)
		AND a.vcode=#{vcode} and  a.status = 1
		 ]]>
    </select>

    <!--返回为空设置参数-->
    <select id="getJqTimelyParkingData" parameterType="map"
            resultType="com.daqsoft.vo.client.madeVoBean.TimelyParkingSurplusVo">
        <![CDATA[
		SELECT s.USED as total,a.id as id,(a.PARKING_LOT-s.USED) as surplusPaking ,a.PARKING_LOT as parkingTotal
		FROM  jq_timely_parking s,res_parking a
		WHERE s.id = (select id from jq_timely_parking where vcode=#{vcode} and time BETWEEN #{stTime} AND #{edTime} ORDER BY time desc limit 0,1)
		AND a.vcode=#{vcode} and  a.status = 1
		 ]]>
    </select>
    <!--查询景区停车场总车位，已使用，未使用-->
    <select id="getJqParkingData" parameterType="map"
            resultType="com.daqsoft.vo.client.madeVoBean.TimelyParkingSurplusVo">
        <![CDATA[
            SELECT
                s.USED AS total,
                s.SURPLUS AS surplusPaking,
                sum(s.USED + s.SURPLUS) AS parkingTotal
            FROM
                jq_timely_parking s
            WHERE
                s.id = (
                    SELECT
                        id
                    FROM
                        jq_timely_parking
                    WHERE
                        vcode = #{vcode}
                    AND time BETWEEN #{stTime}
                    AND #{edTime}
                    ORDER BY
                        time DESC
                    LIMIT 0,
                    1
                )
		 ]]>
    </select>

    <select id="getJqTimelyParkingOne" parameterType="String"
            resultType="com.daqsoft.vo.client.madeVoBean.TimelyParkingSurplusVo">
        <![CDATA[
		SELECT s.USED as total,a.id as id,(a.PARKING_LOT-s.USED) as surplusPaking ,a.PARKING_LOT as parkingTotal
		FROM  jq_timely_parking s,res_parking a
		WHERE s.id = (select id from jq_timely_parking where vcode=#{vcode} and DATE_FORMAT(time,'%Y-%m-%d') = CURRENT_DATE ORDER BY time desc limit 0,1)
		AND a.vcode=#{vcode} and  a.status = 1 LIMIT 1
		 ]]>
    </select>

    <!--主页车辆来源地排行前十 ParkCarFlow_From 存储过程  2018-08-09 lrd 由存储过程改成SQL形式-->
    <select id="getCarFromByMonth" parameterType="Map"
            resultType="com.daqsoft.vo.client.madeVoBean.CarFromProvinceVo" statementType="CALLABLE">
        <![CDATA[
           SELECT COUNT(id) SUMCAR,province as CARFROM
	       FROM jq_tvpm_checkout
	       WHERE VCODE = #{vcode} and ENTRANCETIME BETWEEN #{startTime} and #{endTime}
	       GROUP BY  province
	       ORDER BY  SUMCAR DESC  limit 10
		 ]]>
    </select>

    <!--目前云台只有这个再用，主页车辆来源地排行 ParkCarFlow_From_day 2018-08-09 lrd 由存储过程改成SQL形式-->
    <select id="getCarFromByAll" parameterType="Map"
            resultType="com.daqsoft.vo.client.madeVoBean.CarFromProvinceVo" statementType="CALLABLE">
        <![CDATA[
          SELECT COUNT(id) SUMCAR,province as CARFROM
	      FROM jq_tvpm_checkout
	      WHERE VCODE = #{vcode} and ENTRANCETIME BETWEEN #{startTime} and #{endTime}
	      GROUP BY  province
	      ORDER BY  SUMCAR DESC;
		 ]]>
    </select>

    <!--大数据车辆来源地排行按年 ParkCarFlow_From_All存在过程  2018-08-09 lrd 由存储过程改成SQL形式-->
    <select id="getCarFromByYear" parameterType="Map"
            resultType="com.daqsoft.vo.client.madeVoBean.CarFromProvinceVo" statementType="CALLABLE">
        <![CDATA[
          SELECT COUNT(id) SUMCAR,province as CARFROM
	      FROM jq_tvpm_checkout WHERE
	      year= #{year} AND VCODE = #{vcode}
	      GROUP BY  CARFROM
	      ORDER BY COUNt(id) DESC;
		 ]]>
    </select>

    <!--主页停车场车辆类型-->
    <select id="getCarTypeParkByDay" parameterType="Map"
            resultType="com.daqsoft.vo.client.madeVoBean.CarFlowTypeVo" >
        <![CDATA[
        SELECT
        count(s.ID) SumCar,
        s.vehicletype CarType,
        s.VCODE vcode
        FROM jq_tvpm_checkout s
        WHERE  s.ENTRANCETIME between #{stTime} and #{edTime}
        and s.vcode=#{vcode}
        GROUP BY  s.vehicletype
		 ]]>
    </select>
    <!--主页停车场车辆类型-->
    <select id="getCarTypeParkByDayDates" parameterType="Map"
            resultType="com.daqsoft.vo.client.madeVoBean.CarFlowTypeVo" >
        <![CDATA[
        SELECT
            count(s.ID) SumCar,
            s.vehicletype CarType,
            s.VCODE vcode
        FROM
            jq_tvpm_checkout s
        WHERE
            (
                (
                    s.ENTRANCETIME <= #{startTime}
                    AND s.EXITTIME >= #{endTime}
                )
                OR (
                    s.ENTRANCETIME < #{startTime}
                    AND s.EXITTIME BETWEEN #{startTime}
                    AND #{endTime}
                )
                OR (
                    s.EXITTIME > #{endTime}
                    AND s.ENTRANCETIME BETWEEN #{startTime}
                    AND #{endTime}
                )
                OR (
                    s.ENTRANCETIME > #{startTime}
                    AND s.EXITTIME < #{endTime}
                )
            )
        AND s.vcode = #{vcode}
        GROUP BY  s.vehicletype
		 ]]>
    </select>

    <select id="getOffLineByDay" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT IFNULL(SUM(total),0) AS count  FROM jq_tvpm_checkout_time
         WHERE vcode=#{vcode}
         AND ENTRANCETIME BETWEEN #{stime} and #{etime}
    </select>
    <!-- 查询景区停车场实时停车位，取实时中最新的一条，这个数据研发推送两分钟一次 -->
    <select id="getParkByDate" resultType="map" parameterType="java.util.Map">
        SELECT
			max(jtp.USED)as count,
            ap.`name` name
        FROM
            jq_timely_parking jtp,
            res_parking ap
        WHERE
            ap.vcode = #{vcode}
        AND jtp.PAKING_ID = ap.id
        and jtp.time between #{startTime} and #{endTime}
        ORDER BY
            jtp.TIME DESC
        limit 1
    </select>
</mapper>
