<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.resource.DataBasisImitateMapper" >

  <select id="getScenicMaxQuantity" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT MAXQUANTITY from res_scenic_areas WHERE VCODE = #{vcode} AND MAXQUANTITY IS NOT NULL
  </select>
  <!-- 生成实时人数模拟数据 -->
  <insert id="saveDataScenicTimelyPopulation" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除实时人数数据 -->
  <delete id="deleteOldDataScenicTimelyPopulation">
    DELETE FROM jq_scenic_timely_population WHERE VCODE = #{vcode} AND TIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>


  <!-- 生成线下票务数据 -->
  <insert id="saveDataOfflineTicket" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除线下票务数据 -->
  <delete id="deleteOldDataOfflineTicket">
    DELETE FROM jq_ticket WHERE VCODE = #{vcode} AND TIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>


  <!-- 生成线上票务数据 -->
  <insert id="saveDataOnlineTicket" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除线上票务数据 -->
  <delete id="deleteOldDataOnlineTicket">
    DELETE FROM jq_ota_data WHERE VCODE = #{vcode} AND TIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>


  <!-- 生成车流量数据 -->
  <insert id="saveDataTvpmVehiclelogPart" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除车流量数据 -->
  <delete id="deleteOldDataTvpmVehiclelogPart">
    DELETE FROM jq_tvpm_vehiclelog_part WHERE VCODE = #{vcode} AND ACCESSTIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>
  <!-- 根据省份名称查询所有城市 -->
  <select id="getCityCarList" resultType="java.util.Map">
    SELECT PROVINCE as province, CITY as city, VEHICLENO as vehicleno FROM sys_car_dictionary WHERE PROVINCE LIKE '%${provinceName}%'
  </select>
  <!-- 查询省份名称，后面0000的是省份 -->
  <select id="getProvinceName" resultType="java.lang.String">
    SELECT NAME FROM sys_region WHERE REGION LIKE '${subRegion}0000'
  </select>
  <!-- 查询城市名称，后面00的是城市 -->
  <select id="getCityName" resultType="java.lang.String">
    SELECT NAME FROM sys_region WHERE REGION LIKE '${subRegion}00'
  </select>
  <!-- 通过城市名查询城市车牌等信息 -->
  <select id="getCityCarMap" resultType="java.util.Map">
    SELECT PROVINCE as province, CITY as city, VEHICLENO as vehicleno FROM sys_car_dictionary WHERE CITY LIKE '%${cityName}%'
  </select>


  <!-- 生成实时停车位模拟数据 -->
  <insert id="saveDataTimelyParking" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除实时停车位数据 -->
  <delete id="deleteOldDataTimelyParking">
    DELETE FROM jq_timely_parking WHERE VCODE = #{vcode} AND TIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>


  <!-- 生成实时停车位模拟数据 -->
  <insert id="saveDataParkingCheckout" parameterType="string">
    ${sql}
  </insert>
  <!-- 删除实时停车位数据 -->
  <delete id="deleteOldDataParkingCheckout">
    DELETE FROM jq_tvpm_checkout WHERE VCODE = #{vcode} AND ENTRANCETIME BETWEEN #{startDate} AND #{endDate} AND DATA_TYPE = #{dataType}
  </delete>
</mapper>