<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.resource.ResGasStationMapper" >
  <resultMap id="BaseResultMap" type="com.daqsoft.entity.gasStation.GasStation" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="VCODE" property="vcode" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, LONGITUDE, LATITUDE,IMG,ADDRESS, STATUS, VCODE, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from res_scenic_gas_station
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from res_scenic_gas_station
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.daqsoft.entity.gasStation.GasStation" >
    insert into res_scenic_gas_station (ID, NAME, LONGITUDE,
      LATITUDE,IMG,ADDRESS, STATUS, VCODE,
      UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR},
      #{latitude,jdbcType=VARCHAR},#{img,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{vcode,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR})

  </insert>
  <update id="updateByPrimaryKey" parameterType="com.daqsoft.entity.gasStation.GasStation" >
    update res_scenic_gas_station
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="vcode != null" >
        VCODE = #{vcode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectList" resultMap="BaseResultMap" >
    select
    s.ID,
    s.NAME,
    s.LONGITUDE,
    s.LATITUDE,
    s.IMG,
    s.ADDRESS,
    s.STATUS,
    s.VCODE,
    s.UPDATE_TIME
    from res_scenic_gas_station s
    <where>
      AND s.vcode = #{vcode}
      AND s.STATUS != -1
      <if test="name != null and '' != name">
        AND s.NAME LIKE '%${name}%'
      </if>
      <if test="address != null and '' != address">
        AND s.ADDRESS LIKE '%${address}%'
      </if>
      <if test="status != null and '' != status">
        AND s.STATUS = #{status}
      </if>
    </where>
    ORDER BY s.UPDATE_TIME DESC
  </select>
</mapper>