<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.resource.ResTouristCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.daqsoft.entity.touristCommodity.ResTouristCommodity" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
    <result column="INTRODUCTION" property="introduction" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VCODE" property="vcode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="LANGUAGE_TYPE" property="languageType" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, IMAGE, INTRODUCTION, SOURCE, AUTHOR, UPDATE_TIME, VCODE, STATUS, SORT, LANGUAGE_TYPE, CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from res_tourist_commodity
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from res_tourist_commodity
    WHERE STATUS != -1 AND VCODE = #{vcode}
    <if test="name != null and '' != name">
      AND NAME LIKE '%${name}%'
    </if>
    <if test="status != null">
      AND STATUS = #{status}
    </if>
    ORDER BY SORT ASC, UPDATE_TIME DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from res_tourist_commodity
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.daqsoft.entity.touristCommodity.ResTouristCommodity" >
    insert into res_tourist_commodity (ID, NAME, IMAGE,
      INTRODUCTION, SOURCE, AUTHOR,
      UPDATE_TIME, VCODE, STATUS,
      SORT, LANGUAGE_TYPE, CONTENT
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR},
      #{introduction,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{vcode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{sort,jdbcType=INTEGER}, #{languageType,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.daqsoft.entity.touristCommodity.ResTouristCommodity" >
    update res_tourist_commodity
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vcode != null" >
        VCODE = #{vcode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="languageType != null" >
        LANGUAGE_TYPE = #{languageType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>