<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.client.ticket.TicketBigDao">

    <resultMap id="bigTicket" type="com.daqsoft.vo.client.madeVoBean.TicketClTendVo">
        <result column="timesheet" property="ticket_time"></result>
        <result column="count" property="ticket_num"></result>
        <result column="totalPrice" property="ticket_totalPrice"></result>
    </resultMap>

    <select id="getRealTimeData"
            resultType="com.daqsoft.vo.client.madeVoBean.TicketClSsTendVO">
        <![CDATA[
        SELECT DATE_FORMAT(s.TIME,'%H') as ticket_time,SUM(s.COUNT) as ticket_num
        FROM `jq_ticket` s
        where s.VCODE = #{vcode}
                and s.`status` != -99
                and s.TIME between concat(#{date}, ' 00:00:00') and concat(#{date}, ' 23:59:59')
                GROUP BY DATE_FORMAT(s.TIME,'%Y-%m-%d %H');
        ]]>
    </select>


    <!--根据时间段查询票务数据统计-->
    <select id="getBigTicketNumByTimeSlot" resultMap="bigTicket">
        <![CDATA[
        select
        IFNULL(sum(t.count),0) as count,IFNULL(sum(t.TOTALPRICE),0) as totalPrice,DATE_FORMAT(time, #{dateFormat}) as timesheet
        from jq_ticket as t
        where 1=1  and t.vcode = #{vcode}

        AND t.TIME BETWEEN #{startTime} AND #{endTime} GROUP BY DATE_FORMAT(time, #{dateFormat});
          ]]>
    </select>

    <!-- 2017-08-04 zhouq 修改 : 新增统计金额-->
    <select id="getTicketTypeByTimeSlot" resultType="com.daqsoft.vo.client.madeVoBean.TicketClTypeVO">
        select  t.type as types,
        IFNULL(sum(t.count),0)  as nums,IFNULL(sum(t.TOTALPRICE),0) as typecal
        from jq_ticket as t where 1 = 1 and t.vcode=#{vcode}
        and t.time   BETWEEN #{startTime} AND #{endTime}
        GROUP BY t.type ORDER BY nums DESC;
    </select>

    <select id="getTouristNumByTimeSlot" resultType="com.daqsoft.vo.client.madeVoBean.TicketClTypeVO">
        <![CDATA[
         SELECT J.SOURCE as types ,
			SUM(J.total)  as nums
        FROM jq_scenic_timely_population AS J
        WHERE 1=1  and vcode =  #{vcode}
          AND J.SOURCE IS NOT NULL
					AND J.TIME BETWEEN #{startTime} AND #{endTime}
        GROUP BY J.SOURCE ORDER BY nums DESC;
          ]]>
    </select>
    
    <!--团队-->
    <select id="find_shishi_date" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.TicketClSsTendVO">
        <![CDATA[


        SELECT DATE_FORMAT(s.TIME,'%H') as ticket_time,SUM(s.COUNT) as ticket_num
        FROM `jq_ticket` s
        where s.VCODE = #{vcode}
                and s.`status` != -99
                and DATE_FORMAT(s.TIME,'%Y-%m-%d') = #{date}
                GROUP BY DATE_FORMAT(s.TIME,'%Y-%m-%d %H');

        ]]>
    </select>


    <!--团队按天分页数据-->
    <select id="find_Tours_limit_dd" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_Tend">
        <![CDATA[

        SELECT s.id,s.TOURNUM as tourNum,s.ARRIVETIME as arriveTime,s.TNAME as tName,t.`name` as name_t,s.AMOUNT as amount
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m-%d') = #{date} and s.TRAVELCODE = t.resourcecode  order by DATE_FORMAT(s.updatetime,'%Y-%m-%d') desc LIMIT #{page},6 ;

        ]]>
    </select>

    <!--团队按月分页数据-->
    <select id="find_Tours_limit_mm" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_Tend">
        <![CDATA[

        SELECT s.id,s.TOURNUM as tourNum,s.ARRIVETIME as arriveTime,s.TNAME as tName,t.`name` as name_t,s.AMOUNT as amount
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m') = #{date} and s.TRAVELCODE = t.resourcecode  order by DATE_FORMAT(s.updatetime,'%Y-%m-%d')  desc  LIMIT #{page},6;

        ]]>
    </select>

    <!--团队按年分页数据-->
    <select id="find_Tours_limit_yy" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_Tend">
        <![CDATA[

        SELECT s.id,s.TOURNUM as tourNum,s.ARRIVETIME as arriveTime,s.TNAME as tName,t.`name` as name_t,s.AMOUNT as amount
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y') = #{date} and s.TRAVELCODE = t.resourcecode  order by DATE_FORMAT(s.updatetime,'%Y-%m-%d')  desc LIMIT #{page},6 ;

        ]]>
    </select>

    <!--团队按天分页数据条数-->
    <select id="count_tours_dd" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        <![CDATA[

        SELECT COUNT(*) as counts
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m-%d') = #{date} and s.TRAVELCODE = t.resourcecode

        ]]>
    </select>

    <!--团队按月分页数据条数-->
    <select id="count_tours_mm" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        <![CDATA[

        SELECT COUNT(*) as counts
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m') = #{date} and s.TRAVELCODE = t.resourcecode

        ]]>
    </select>

    <!--团队按年分页数据条数-->
    <select id="count_tours_yy" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        <![CDATA[

        SELECT COUNT(*) as counts
        from jq_tours s,api_travel_agency t
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.updatetime,'%Y') = #{date} and s.TRAVELCODE = t.resourcecode

        ]]>
    </select>
    
    <!--团队总数 与 游客总数  日-->
    <select id="find_Tours_cl_total_dd" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_total">
        <![CDATA[

        SELECT COUNT(*) as tours_num,IFNULL(SUM(s.AMOUNT),0)  AS touts_totalNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m-%d') = #{date} and  s.TRAVELCODE = t.resourcecode

        ]]>
    </select>

    <!--团队总数 与 游客总数  月-->
    <select id="find_Tours_cl_total_mm" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_total">
        <![CDATA[

        SELECT COUNT(*) as tours_num, IFNULL(SUM(s.AMOUNT),0)  AS touts_totalNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and DATE_FORMAT(s.updatetime,'%Y-%m') = #{date} and  s.TRAVELCODE = t.resourcecode

        ]]>
    </select>

    <!--团队总数 与 游客总数  年-->
    <select id="find_Tours_cl_total_yy" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_total">
        <![CDATA[

        SELECT COUNT(*) as tours_num,IFNULL(SUM(s.AMOUNT),0)  AS touts_totalNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and DATE_FORMAT(s.updatetime,'%Y') = #{date} and  s.TRAVELCODE = t.resourcecode

        ]]>
    </select>
    
    <!--团队趋势  日-->
    <select id="find_Tours_cl_tendency_dd" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_tendency">
        <![CDATA[

         SELECT DATE_FORMAT(s.updatetime,'%H') as touts_time,COUNT(DATE_FORMAT(s.updatetime,'%Y-%m-%d')) as tours_num,SUM(s.AMOUNT) as touts_personNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and  DATE_FORMAT(s.updatetime,'%Y-%m-%d') = #{date}
        and s.TRAVELCODE = t.resourcecode
        GROUP BY DATE_FORMAT(s.updatetime,'%Y-%m-%d %H')
        ]]>
    </select>
    <!--团队趋势  月-->
    <select id="find_Tours_cl_tendency_mm" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_tendency">
        <![CDATA[

        SELECT DATE_FORMAT(s.updatetime,'%d') as touts_time,COUNT(DATE_FORMAT(s.updatetime,'%Y-%m-%d')) as tours_num,SUM(s.AMOUNT) as touts_personNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and  DATE_FORMAT(s.updatetime,'%Y-%m') = #{date}
        and s.TRAVELCODE = t.resourcecode
        GROUP BY DATE_FORMAT(s.updatetime,'%Y-%m-%d')

        ]]>
    </select>

    <!--团队趋势  年-->
    <select id="find_Tours_cl_tendency_yy" parameterType="java.util.Map"
            resultType="com.daqsoft.vo.client.madeVoBean.Tours_cl_tendency">
        <![CDATA[

        SELECT DATE_FORMAT(s.updatetime,'%m') as touts_time,COUNT(DATE_FORMAT(s.updatetime,'%Y-%m')) as tours_num,SUM(s.AMOUNT) as touts_personNum
        from jq_tours s,api_travel_agency t
        where s.VCODE =#{vcode}
        and  DATE_FORMAT(s.updatetime,'%Y') = #{date}
        and s.TRAVELCODE = t.resourcecode
        GROUP BY DATE_FORMAT(s.updatetime,'%Y-%m')

        ]]>
    </select>

    <select id="otaSaleByDay"
            resultType="com.daqsoft.vo.client.madeVoBean.Ota_Date" parameterType="java.util.Map">
        <![CDATA[
        SELECT   ot.NAME as name ,SUM(COUNT) as count,sum(ot.totalprice) as totalprice
        FROM jq_ota_data  ot
        WHERE ot.vcode =#{vcode}
          AND DATE_FORMAT(ot.TIME,'%Y-%m-%d') >= DATE_FORMAT(#{stDate},'%Y-%m-%d')
          AND  DATE_FORMAT(ot.TIME,'%Y-%m-%d') <= DATE_FORMAT(#{enDate},'%Y-%m-%d')
          Group by ot.NAME
        ]]>
    </select>

    <select id="otaSaleByMonth"
            resultType="com.daqsoft.vo.client.madeVoBean.Ota_Date" parameterType="java.util.Map">
        <![CDATA[

        SELECT   ot.NAME as name ,SUM(COUNT) as count,sum(ot.totalprice) as totalprice
        FROM jq_ota_data  ot
        WHERE ot.vcode =#{vcode} and DATE_FORMAT(ot.TIME,'%Y-%m') =#{dates}
        Group by ot.NAME

        ]]>
    </select>

    <select id="otaSaleByYear"
            resultType="com.daqsoft.vo.client.madeVoBean.Ota_Date" parameterType="java.util.Map">
        <![CDATA[

        SELECT   ot.NAME as name ,SUM(COUNT) as count,sum(ot.totalprice) as totalprice
        FROM jq_ota_data  ot
        WHERE ot.vcode =#{vcode}
          AND DATE_FORMAT(ot.TIME,'%Y') >= #{stYear} and  DATE_FORMAT(ot.TIME,'%Y') <= #{enYear}
        group by ot.NAME

        ]]>
    </select>

    <select id="otaSaleByQuarter"
            resultType="com.daqsoft.vo.client.madeVoBean.Ota_Date" parameterType="java.util.Map">
        <![CDATA[
        SELECT ot.NAME as name ,SUM(COUNT) as count,sum(ot.totalprice) as totalprice
          FROM jq_ota_data ot
          WHERE DATE_FORMAT(ot.TIME,'%Y-%m') >= #{start}
            and  DATE_FORMAT(ot.TIME,'%Y-%m') <= #{end}
            and ot.vcode=#{vcode}
            GROUP BY ot.NAME
        ]]>
    </select>

    <select id="offLine"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXxSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE NOT Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y-%m-%d") between #{startTime} and #{endTime})
    </select>

    <select id="onOffLine"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXsSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE  Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y-%m-%d") between #{startTime} and #{endTime})
    </select>



    <select id="offLineMonth"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXxSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE NOT Like'%云汐%' and DATE_FORMAT(s.TIME,"%Y-%m") = #{startTime}
    </select>

    <select id="onOffLineMonth"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXsSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE  Like'%云汐%' and DATE_FORMAT(s.TIME,"%Y-%m")= #{startTime}
    </select>


    <select id="offLineYear"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXxSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE NOT Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y") between #{startTime} and #{endTime})
    </select>

    <select id="onOffLineYear"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXsSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE  Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y") between #{startTime} and #{endTime})
    </select>

    <select id="offLineQuarter"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXxSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE NOT Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y-%m") between #{startTime} and #{endTime})
    </select>

    <select id="onOffLineQuarter"   resultType="com.daqsoft.vo.client.madeVoBean.JqticketXsSeal" parameterType="java.util.Map">
        SELECT SUM(s.COUNT) as counts, SUM(s.TOTALPRICE) as moneys  FROM jq_ticket s where s.VCODE = #{vcode} and  s.`status` != -99 and s.TYPE  Like'%云汐%' and (DATE_FORMAT(s.TIME,"%Y-%m") between #{startTime} and #{endTime})
    </select>

    <!--大屏時實人數-->
    <select id="findJqTicketNow" parameterType="String"
            resultType="com.daqsoft.vo.client.madeVoBean.JqTicket_Tend">
        <![CDATA[
			SELECT DATE_FORMAT(s.time,'%Y-%m-%d') as time,count(1),sum(count) as count
            FROM jq_ticket s where 1=1 and s.vcode=#{vcode}   and DATE_FORMAT(s.time,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
            GROUP BY DATE_FORMAT(s.time,'%Y-%m-%d')
		 ]]>
    </select>

    <!-- 华蓥山线上线下销量-->
    <select id="findJqTicketOnLine" parameterType="String"
            resultType="com.daqsoft.vo.client.madeVoBean.JqTicket">
        <![CDATA[
			 SELECT ifnull(sum(s.count), 0) as count from jq_ticket s
			 where type like '%云汐%' and s.vcode =#{vcode} and DATE_FORMAT(s.time,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
			union all
			SELECT ifnull(sum(s.count), 0) as count from jq_ticket s
			where type not like '%云汐%' and s.vcode =#{vcode} and DATE_FORMAT(s.time,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
		 ]]>
    </select>
    <!-- 其他线上线下销量-->
    <select id="findJqTicketOnLineOtherScreen" parameterType="String"
            resultType="com.daqsoft.vo.client.madeVoBean.JqTicket">
        <![CDATA[
			 SELECT
                ifnull(sum(count), 0) AS count
            FROM
                jq_ota_data
            WHERE
                VCODE = #{vcode}
            AND DATE_FORMAT(time, '%Y-%m-%d') = DATE_FORMAT(CURDATE(), '%Y-%m-%d')
			union all
			SELECT ifnull(sum(s.count), 0) as count from jq_ticket s
			where type not like '%云汐%' and s.vcode =#{vcode} and DATE_FORMAT(s.time,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
		 ]]>
    </select>
    <!-- 按天查询团队数列表-->
    <select id="findToursByDay" parameterType="Map" resultType="com.daqsoft.vo.client.madeVoBean.ToursVo">
        SELECT
            TNAME as tname,
            BUSNUM as busnum,
            AMOUNT as amount
        FROM
            jq_tours
        WHERE
            VCODE = #{vcode}
        AND ARRIVETIME BETWEEN #{startTime}
        AND #{endTime}
    </select>
    <!-- 按天查询团队总数-->
    <select id="findToursNumsByDay" parameterType="Map" resultType="int">
        SELECT
            COUNT(1)
        FROM
            jq_tours
        WHERE
            VCODE = #{vcode}
        AND ARRIVETIME BETWEEN #{startTime}
        AND #{endTime}
    </select>
    <!-- 按天查询团队总人数-->
    <select id="findToursPeopleNumsByDay" parameterType="Map" resultType="int">
        SELECT
                IFNULL(SUM(AMOUNT),0)
        FROM
            jq_tours
        WHERE
            VCODE = #{vcode}
        AND ARRIVETIME BETWEEN #{startTime}
        AND #{endTime}
    </select>
</mapper>