<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daqsoft.mapper.client.ticket.TicketOTADao">

    <resultMap id="bigTicket" type="com.daqsoft.vo.client.madeVoBean.TicketClTendVo">
        <result column="timesheet" property="ticket_time"></result>
        <result column="count" property="ticket_num"></result>
        <result column="totalPrice" property="ticket_totalPrice"></result>
    </resultMap>

    <!-- 查询OTA 销售数据  数据统计-->
    <select id="getOtaSale"
            resultMap="bigTicket">
        <![CDATA[
            SELECT IFNULL(sum(t.COUNT),0) as count,IFNULL(sum(t.TOTALPRICE),0) as totalPrice,DATE_FORMAT(time, '%Y-%m-%d') as timesheet
            FROM jq_ota_data t
            where t.VCODE = #{vcode}
            and t.TIME between #{startTime} and #{endTime}
        ]]>
    </select>

    <!--按时间段 获取各 OTA 统计数据-->
    <select id="getOtaSaleListByTimeSlot" resultType="com.daqsoft.vo.client.madeVoBean.TicketClTypeVO">
        <![CDATA[
            select  t.name as types,
            IFNULL(sum(t.count),0)  as nums,IFNULL(sum(t.TOTALPRICE),0) as typecal
            from jq_ota_data as t where 1 = 1 and t.vcode=#{vcode}
            and t.time   BETWEEN #{startTime} AND #{endTime}
            GROUP BY t.name ORDER BY nums DESC;
        ]]>
    </select>


</mapper>
